<div class="right-side-bar">
    <h5 class="card-header">Links</h5>
    <div class="grid-container">
        <div class="grid-item"><%= link_to "RMIT", 'https://www.rmit.edu.au/' %></div>
        <div class="grid-item"><%= link_to "Rails", 'https://rubyonrails.org/' %></div>
        <div class="grid-item"><%= link_to "Google", 'https://www.google.com.au/' %></div>
        <div class="grid-item"><%= link_to "Rails", 'https://rubyonrails.org/' %></div>
        <div class="grid-item"><%= link_to "RMIT", 'https://www.rmit.edu.au/' %></div>
        <div class="grid-item"><%= link_to "Rails", 'https://rubyonrails.org/' %></div>
    </div>
    
</div>