<div class="right-side-bar">
  <div class="spacer"></div>
  <h5 class="card-header">Topic</h5>
  <div class="grid-container">
      <div class="grid-item">
        <label><a>A.I.</a><%= check_box_tag("post_topic[]", "A.I.") %></label>
      </div>
      <div class="grid-item">
        <label><a>Rails</a><%= check_box_tag("post_topic[]", "Rails") %></label>
      </div>
      <div class="grid-item">
        <label><a>Go</a><%= check_box_tag("post_topic[]", "Go") %></label>
      </div>
      <div class="grid-item">
        <label><a>Game</a><%= check_box_tag("post_topic[]", "Game") %></label>
      </div>
      <div class="grid-item">
        <label><a>V.R.</a><%= check_box_tag("post_topic[]", "V.R.") %></label>
      </div>
      <div class="grid-item">
        <label><a>Vue</a><%= check_box_tag("post_topic[]", "Vue") %></label>
      </div>
      <div class="grid-item">
        <label><a>AWS</a><%= check_box_tag("post_topic[]", "AWS") %></label>
      </div>
      <div class="grid-item">
        <label><a>Web</a><%= check_box_tag("post_topic[]", "Web") %></label>
      </div>
  </div>
</div>