<div class="right-side-bar">
  <div class="spacer"></div>
  <h5 class="card-header">Topic</h5>
  <div class="grid-container">
      <div class="grid-item">
        <div><%= "A.I." %></div>
      </div>
      <div class="grid-item">
        <div><%= "Rails" %></div>
      </div>
      <div class="grid-item">
        <div><%= "Go" %></div>
      </div>
      <div class="grid-item">
        <div><%= "Game" %></div>
      </div>
      <div class="grid-item">
        <div><%= "V.R." %></div>
      </div>
      <div class="grid-item">
        <div><%= "Vue" %></div>
      </div>
      <div class="grid-item">
        <div><%= "AWS" %></div>
      </div>
      <div class="grid-item">
        <div><%= "Web" %></div>
      </div>
      
  </div>
</div>