<div class="right-side-bar">
  <div class="spacer"></div>
  <h5 class="card-header">Topic</h5>
  <div class="grid-container">
      <div class="grid-item">
        <div><%= link_to "A.I." %><input type="checkbox" name="tag_ids[]" value="1" /></div>
      </div>
      <div class="grid-item">
        <div><%= link_to "Rails" %><input type="checkbox" name="tag_ids[]" value="2" /></div>
      </div>
      <div class="grid-item">
        <div><%= link_to "Go" %><input type="checkbox" name="tag_ids[]" value="3" /></div>
      </div>
      <div class="grid-item">
        <div><%= link_to "Game" %><input type="checkbox" name="tag_ids[]" value="4" /></div>
      </div>
      <div class="grid-item">
        <div><%= link_to "V.R." %><input type="checkbox" name="tag_ids[]" value="5" /></div>
      </div>
      <div class="grid-item">
        <div><%= link_to "Vue" %><input type="checkbox" name="tag_ids[]" value="6" /></div>
      </div>
      <div class="grid-item">
        <div><%= link_to "AWS" %><input type="checkbox" name="tag_ids[]" value="7" /></div>
      </div>
      <div class="grid-item">
        <div><%= link_to "Web" %><input type="checkbox" name="tag_ids[]" value="8" /></div>
      </div>
      
  </div>
</div>