<div class="right-side-bar">
  <h5 class="card-header">Topic</h5>
  <div class="grid-container">
      <div class="grid-item">
        <div><%= link_to "A.I." %></div>
      </div>
      <div class="grid-item">
        <div><%= link_to "Rails" %></div>
      </div>
      <div class="grid-item">
        <div><%= link_to "Go" %></div>
      </div>
      <div class="grid-item">
        <div><%= link_to "Game" %></div>
      </div>
      <div class="grid-item">
        <div><%= link_to "V.R." %></div>
      </div>
      <div class="grid-item">
        <div><%= link_to "Vue" %></div>
      </div>
      <div class="grid-item">
        <div><%= link_to "AWS" %></div>
      </div>
      <div class="grid-item">
        <div><%= link_to "Web" %></div>
      </div>
      
  </div>
</div>