<% provide(:title, 'Post') %>

<div class="col-md-8">
    <div class="mainbody">
        <div class="post-container">
            <div class="post-inner-container">
                <div class="post-area">
                    <div class="post-title"><h4><%= @post.title %></h4></div>
                    <div class="post-info">
                        <div class="col-md-7">
                            <span class="label label-default info"><%= @post.topic %></span>
                        </div>
                        <div class="col-md-3">
                            <span class="glyphicon glyphicon-comment info topic"></span>
                            &nbsp
                            <div class="info"><%= @post.comments.count() %></div>
                            &nbsp&nbsp
                            <span class="glyphicon glyphicon-eye-open info topic"></span>
                            &nbsp
                            <div class="info"><%= @post.view %></div>
                        </div>
                    </div>
                    <div class="post-user-info">
                        <div class="inner-user-info">
                            <%= gravatar_for(@post.user, size: 40) %>&nbsp&nbsp
                            <%= @post.user.name %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            <div class="timestamp"><%= @post.created_at %></div>
                        </div>
                    </div>
                    <div class="post-content">
                        <p><%= @post.content %></p>
                        
                    </div>
                    <hr>
                </div>
                
                
                <div class="post-comment-area">
                
                    <p>Comment</p>
                    <div class="post-comment-form">
                    <%= render 'comments/form' %>
                    </div>
                    
                    <div class="post-comment-view">
                    <%= render 'comments/show' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
  <section class="members">
    <%= render 'shared/member' %>
  </section>

  <section class="topic">
    <%= render 'shared/topic' %>
  </section>

  <section class="Post">
    <%= render 'shared/mostviewspost' %>
  </section>

  <section class="Links">
  <%= render 'shared/links' %>
  </section>
</div>