<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "News+", @user, id: "logo" %>
    <nav>
        <ul class="nav navbar-nav navcenter">
          <li><%= link_to "Home",   root_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              News <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
            </ul>
          </li>
          <% if logged_in? %>
          <li><%= link_to current_user.name,  current_user %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown float-right">
            <a href="<%= logout_path %>" class="dropdown-toggle" data-method="delete" data-toggle="dropdown">
              <%= gravatar_for current_user, size: 40 %>
            </a>
          </li>
        </ul>

          <% else %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="glyphicon glyphicon-user" aria-hidden="true"href=" <%= login_path %>"></a>
            </li>
          </ul>
          <% end %>
    </nav>
  </div>
</header>
